@import "../../Styles/Variables.scss";

.dasboard-field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14rem;
  height: fit-content;
  background-color: white;
  border-radius: $BorderRadius;
  box-shadow: $MyBoxShadow;
  transition: box-shadow 0.3s ease-in-out;
  flex-grow: 1;
  margin-inline: 0.5rem;

  &:first-child {
    margin-inline: 0;
    margin-right: 0.5rem;
  }

  &:last-child {
    margin-inline: 0;
    margin-left: 0.5rem;
  }
  .field-title {
    // font-size: x-large !important;
    width: fit-content;
    height: fit-content;
    padding: 0.3rem 0.5rem;
    font-size: 21px;
    font-weight: 600;
    color: $PrimaryColor;
    align-self: flex-start;
  }

  .stats-field {
    font-size: 35px;
    padding: 0.2rem 0.5rem;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 3rem;
    background-color: $PrimaryColor;
    color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    &:hover {
      box-shadow: $MyBoxShadowHover;
      background-color: $LightPrimaryColor;
      cursor: pointer;
    }
  }
}
