@import "../../../Styles/Variables.scss";

.icon-lbl-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  font-size: 19px;
  color: $PrimaryColor;
  padding: 0.3rem;
  margin-top: 0.2rem;
  .label {
    margin-right: 0.5rem;

    &:hover {
      cursor: pointer;
    }

    &:first-child {
      padding-left: 1rem;
    }
  }
  &:hover {
    color: $LightPrimaryColor;
    cursor: pointer;
  }
}
#active {
  background-color: $PrimaryColor;
  border-radius: $BorderRadius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: white;

  &:hover {
    background-color: $LightPrimaryColor;
  }
}
