@import "../../../Styles/Variables.scss";

.icon-lbl-container {
  height: 6rem;
  font-size: 25px;
  color: $PrimaryColor;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .label {
    margin-right: 0.5rem;

    &:hover {
      cursor: pointer;
    }

    &:first-child {
      padding-left: 1rem;
    }
  }
  &:hover {
    color: $LightPrimaryColor;
    cursor: pointer;
  }
}
