@import "../../Styles/Variables.scss";

.Alerts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  width: 100%;
  height: fit-content;
  border-radius: $BorderRadius;
  gap: 1rem;

  .btns-container {
    align-self: flex-start;

    .primary-btn-style {
      width: 9rem;
    }
  }
}
