@import "../../Styles/Variables.scss";

.cases-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  width: 100%;
  height: calc(100vh - 202px);
  overflow: auto;
  border-radius: $BorderRadius;
}

.modal-body-container {
  .status-dropdown {
    width: "100%";
  }
}
