@import "../../Styles/Variables.scss";

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  .img-container {
    margin-left: 1rem;
    border-color: white;
    width: 6rem;
    height: 3.5rem;

    &:hover {
      cursor: pointer;
    }
  }
  .navbar-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .iconLabels-container {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: row;
    }
  }
}
