@import "../../../../Styles/Variables.scss";

.dashboard-m-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: $BorderRadius;
  box-shadow: $MyBoxShadow;
  gap: 1rem;
  flex: 1;

  .title-container {
    font-size: large !important;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    color: $PrimaryColor;
    align-self: flex-start;
  }

  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 2.5rem;
    font-size: small !important;
    background-color: $PrimaryColor;
    color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    &:hover {
      box-shadow: $MyBoxShadowHover;
      background-color: $LightPrimaryColor;
      cursor: pointer;
    }
  }
}
