@import "../../../../Styles/Variables.scss";

.dashboard-customization-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    border-radius: $BorderRadius;
    box-shadow: $MyBoxShadow;
    padding: 0.5rem;
    overflow: auto;

    .card-header-container {
      display: flex;
      gap: 0.5rem;
    }

    .checkboxes-container {
      margin-left: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
