@import "../../../Styles/Variables.scss";

.view-alert-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: $BorderRadius;
}
