@import "../../Styles/Variables.scss";

.table-template-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid $BorderColor;
  padding: 1rem;
  border-radius: $BorderRadius;
  .pagination-item {
    &:active {
      background-color: $DarkPrimaryColor !important;
    }
  }
}
