@import "../../../Styles/Variables.scss";

.main-content-header {
  display: flex;
  flex-direction: row;
  height: 4rem;
  border-radius: $BorderRadius;
  background-color: white;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  .left-side-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .lbl-style.title-style {
      font-size: large;
    }

    .greeting-msg-style {
      color: $LightGrey;
      font-size: small;
    }
  }

  .filter-container {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.625rem;
    // border: 1px solid $LightGrey;
    box-shadow: $MyBoxShadow;
    border-radius: 8px;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    &:hover > .filter-icon {
      color: $LightPrimaryColor;
      cursor: pointer;
    }

    .filter-icon {
      color: $PrimaryColor;
    }
  }
}
