@import "../../../Styles/Variables.scss";

.main-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 1.1rem;
  width: 98vw;
  height: calc(100vh - 96px);
  background-color: lightgray;
  border-top-right-radius: $BorderRadius;
  border-top-left-radius: $BorderRadius;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem 0.7rem;
  gap: 1rem;
}
