@import "../../../Styles/Variables.scss";

.main-content-container {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
  margin-bottom: 1rem;
  height: calc(100vh - 112px);
  width: calc(100vw - 2rem);
  background-color: lightgray;
  border-radius: $BorderRadius;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem 0.7rem;
  gap: 1rem;
  overflow: auto;
}
